<div class="row w-100">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 pt-4 ps-4 pe-1">
        <div class="card">
            <div class="card-header d-flex justify-content-center" style="font-weight: bold;">
                Oops, something went wrong
            </div>
            <div class="card-body">
                <div class="row w-100 mb-3">
                    <div class="col d-flex justify-content-center">
                        Sorry about that. Let's refresh and try again. 
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col d-flex justify-content-center">
                        <a class="btn btn-primary" href="/account" target="_top">Ok</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>

</div>
