<!-- #region deposit screen -->
<div class="row w-100" *ngIf="!busy_State && !depositSuccess_State && !error_State">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 pt-4 ps-4 pe-1">
        <div class="card">
            <div class="card-header d-flex justify-content-center">
                <b>Deposit</b>
            </div>
            <div class="card-body">
                <div class="row w-100 mb-4">
                    <div class="col d-flex justify-content-center">
                        Current account balance is&nbsp;<b>{{badBankService.badBankUser?.AccountBalance | currency}}</b>
                    </div>
                </div>
                <div class="row w-100 mb-4">
                    <div class="col d-flex justify-content-center">
                        <form [formGroup]="depositForm">
                            <div class="d-flex justify-content-center input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input name="amount" style="max-width: 80px; text-align: end;" formControlName="amount">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <!-- validation errors row -->
                            <div class="row w-100 mb-2 ">
                                <div class="col text-danger"
                                    *ngIf="amount_depositForm?.invalid && depositForm_submitted && amount_depositForm?.errors?.required">
                                    <!-- && depositForm_submitted -->
                                    Deposit amount is required
                                </div>
                                <div class="col text-danger"
                                    *ngIf="amount_depositForm?.invalid && depositForm_submitted && (amount_depositForm?.errors?.pattern || amount_depositForm?.errors?.min)">
                                    <!-- && depositForm_submitted -->
                                    Deposit amount must be a positive integer
                                </div>
                                <div class="col"
                                    *ngIf="(amount_depositForm?.valid && depositForm_submitted) || !depositForm_submitted">
                                    &nbsp;
                                </div>
                            </div>
                            <!-- buttons row -->
                            <div class="row w-100">
                                <div class="col-6 py-1 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary" (click)="depositForm_submit()">Deposit</button>
                                </div>
                                <div class="col-6 py-1 d-flex justify-content-center">
                                    <a class="btn btn-secondary" routerLink="/account">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>

</div>
<!-- #endregion -->

<!-- #region deposit success screen -->
<div class="row w-100" *ngIf="!busy_State && depositSuccess_State && !error_State">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 pt-4 ps-4 pe-1">
        <div class="card">
            <div class="card-body">
                <div class="row w-100 mb-4">
                    <div class="col d-flex justify-content-center">
                        Your deposit of&nbsp;<b class="text-success">{{amount_depositForm?.value|currency}}</b>&nbsp;has been accepted. 
                    </div>
                </div>
                <div class="row w-100 mb-4">
                    <div class="col d-flex justify-content-center">
                        Current account balance is&nbsp;<b>{{badBankService.badBankUser?.AccountBalance|currency}}</b>
                    </div>
                </div>
                <div class="row w-100 mb-4">
                    <div class="col d-flex justify-content-center">
                        <button class="btn btn-primary" routerLink="/account">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>

</div>
<!-- #endregion -->


<!-- #region busy screen -->
<app-busy *ngIf="busy_State"></app-busy>
<!-- #endregion -->

<!-- #region error screen -->
<app-error *ngIf="error_State"></app-error>
<!-- #endregion -->
