<!-- <p>
    <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Toggle
    </button>
    
</p>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card">
        <div class="card-body">
            You can collapse this card by clicking Toggle
        </div>
    </div>
</div> -->


<div >
    <div class="card">
        <div class="card-header" (click)="collapse.toggle()" style="cursor:pointer;">
            <fa-icon [icon]="faAngleRight" *ngIf="isCollapsed"></fa-icon><fa-icon [icon]="faAngleDown" *ngIf="!isCollapsed"></fa-icon>&nbsp;&nbsp;View transactions
        </div>
        <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            You can collapse this card by clicking Toggle
        </div>
    </div>
</div>