/* You can add global styles to this file, and also import other style files */
@import './node_modules/bootstrap/scss/bootstrap.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
