<!-- <div class="row w-100">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 pl-4 d-flex justify-content-center">
        <h2>Welcome to the Bad Bank&nbsp;&nbsp;<fa-icon [icon]="faMask"></fa-icon></h2>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="row w-100">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 pl-4 d-flex justify-content-center">
        <div class="card" style="max-width: 400px;">
            <div class="card-body">
                <img src="../../assets/img/achievement-agreement-arms-1068523.jpg"
                    class="card-img-top" alt="Bad bank home image">
                <p class="card-text">For all of your fake banking needs.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div> -->

<!-- <img src="../../assets/img/achievement-agreement-arms-1068523.jpg"
                    class="card-img-top" alt="Bad bank home image"> -->
<div class="row w-100" style="opacity:0;" [@fadeIn]="animationState">
    <div class="col ps-5 pe-1">
        <div class="row w-100">
            <div class="col d-flex justify-content-center mt-5" style="font-size:1.8rem; font-weight:bold;">
                Welcome to Bad Bank
            </div>
        </div>
        <div class="row w-100">
            <div class="col d-flex justify-content-center mt-2">
                <fa-icon [icon]="faMask" class="" style="font-size:2rem;"></fa-icon>
            </div>
        </div>
        <div class="row w-100">
            <div class="col d-flex justify-content-center mt-5">
                <button class="btn btn-primary" routerLink="/account">Get started</button>
            </div>
        </div>
    </div>
</div>