
<div class="row w-100" style="opacity:0;" [@fadeIn]="animationState">
    <div class="col ps-5 pe-1">
        <div class="row w-100">
            <div class="col d-flex justify-content-center mt-5" style="font-size:1.8rem; font-weight:bold;">
                Welcome to Bad Bank
            </div>
        </div>
        <div class="row w-100">
            <div class="col d-flex justify-content-center mt-2">
                <fa-icon [icon]="faMask" class="" style="font-size:2rem;"></fa-icon>
            </div>
        </div>
        <div class="row w-100">
            <div class="col d-flex justify-content-center mt-5">
                <button class="btn btn-primary" routerLink="/account">Get started</button>
            </div>
        </div>
    </div>
</div>