label{
    font-size:small;
}

a{
    color:#007bff;
    text-decoration:none; 
    background-color:transparent;
}
a.lookAlike{
    color:#007bff;
    text-decoration:none; 
    background-color:transparent;
    cursor:pointer;
}

// .tableFixHead { 
//     max-height:275px; 
//     overflow-y:auto; 
// }


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// phone portrait orientation
@media (max-width: $sm) {
    .tableFixHead { 
        max-height:400px; 
        overflow-y:auto; 
    }
}
// phone landscape orientation
@media (min-width: $sm) and (max-width: $lg) {
    .tableFixHead { 
        max-height:200px; 
        overflow-y:auto; 
    }
}

// large devices
@media (min-width: $lg) {
    .tableFixHead { 
        max-height:400px; 
        overflow-y:auto; 
    }
}

@media (min-width: $xs){
    .smallDisappear{
        display:none; 
    }
}