<p>account works!</p>

<div class="row w-100">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 pt-4">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form class="needs-validation" novalidate [formGroup]="basicForm" (ngSubmit)="onSubmit()" >
                    <!-- #region email password input row -->
                    <input type="email" class="form-control" id="validationCustom01" placeholder="Email" formControlName="email" required>
                    <div class="row w-100">
                        <div class="col text-danger" *ngIf="email?.invalid && submitted">
                            Email is required
                        </div>
                        <div class="col" *ngIf="(email?.valid && submitted) || !submitted">
                            &nbsp; 
                        </div>
                    </div>
                    
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Password" formControlName="password" required>
                    <div class="row w-100">
                        <div class="col text-danger" *ngIf="password?.invalid && submitted">
                            Password is required
                        </div>
                        <div class="col" *ngIf="(password?.valid && submitted) || !submitted">
                            &nbsp; 
                        </div>
                    </div>
                    <!-- #endregion -->

                    <!-- #region email password input row -->
                    <!-- <div class="row" *ngIf="showLoginButton">
                        <div class="col-6 mb-1">
                            <label for="validationCustom01">Email</label>
                            <input type="text" class="form-control" id="validationCustom01" placeholder="Email"
                                formControlName="email" required>
                            <div class="text-danger  ps-1" *ngIf="email?.invalid && submitted">
                                Email is required
                            </div>
                            <div class="text-danger  ps-1" *ngIf="(email?.valid && submitted) || !submitted">
                                &nbsp;
                            </div>
                        </div>

                        <div class="col-6 mb-1">
                            <label for="validationCustom01">Password</label>
                            <input type="text" class="form-control" id="validationCustom02" placeholder="Password"
                                formControlName="password" required>
                            <div class="text-danger  ps-1" *ngIf="password?.invalid && submitted">
                                Password is required
                            </div>
                            <div class="text-danger  ps-1" *ngIf="(password?.valid && submitted) || !submitted">
                                &nbsp;
                            </div>
                        </div>
                    </div> -->
                    <!-- #endregion -->

                    <!-- #region login error row -->
                    <div class="row mb-2">
                        <div class="col" *ngIf="error_firebaseAuth==''">&nbsp;</div>
                        <div class="col " *ngIf="error_firebaseAuth=='auth/user-not-found'">
                            <span class="text-danger">User not found. </span>Create account. 
                        </div>
                        <div class="col " *ngIf="error_firebaseAuth=='auth/email-already-in-use'">
                            <span class="text-danger">Email address already in use.</span> 
                        </div>
                        <div class="col " *ngIf="error_firebaseAuth=='auth/weak-password'">
                            <span class="text-danger">Password is too weak</span> 
                        </div>
                        <div class="col " *ngIf="welcomeMessage!='' && error_firebaseAuth==''">
                            <span class="text-success">{{welcomeMessage}}</span> 
                        </div>
                    </div>
                    <!-- #endregion -->

                    <!-- #region new button row -->
                    <button class="btn btn-primary me-3 my-1" style="min-width:180px; " (click)="loginWithEmailAndPassword()">Log in</button>
                    <button class="btn btn-primary my-1"><fa-icon [icon]="faGoogle" style="" class="ms-1 me-2"></fa-icon>Sign in with&nbsp;<b>Google</b></button>

                    <!-- #endregion -->

                    <!-- #region button row -->
                    <!-- <div class="row">
                        <div class="col-4">
                            <button class="btn btn-secondary" (click)="loginWithEmailAndPassword()"
                                *ngIf="showLoginButton">Sign in with email</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-secondary" *ngIf="showLoginButton" (click)="my_createUserWithEmailAndPassword()" >
                                Create account
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary" (click)="login()" *ngIf="showLoginButton">
                                <fa-icon [icon]="faGoogle" style="" class="ms-1 me-2"></fa-icon>Sign in with
                                <b>Google</b>
                            </button>
                            <button class="btn btn-secondary" (click)="logout()" *ngIf="showLogoutButton">Log
                                out</button>
                        </div>
                    </div> -->
                    <!-- #endregion -->
                </form>
            </div>
        </div>
        <div class="row w-100">
            <div class="col"><button type="button" class="btn btn-link" (click)="my_createUserWithEmailAndPassword()">Create a new account</button></div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>