label{
    font-size:small;
}

a{
    color:#007bff;
    text-decoration:none; 
    background-color:transparent;
}
a.lookAlike{
    color:#007bff;
    text-decoration:none; 
    background-color:transparent;
    cursor:pointer;
}

.tableFixHead { 
    max-height:275px; 
    overflow-y:auto; 
}
// .tableFixHead          { overflow: auto; height: 300px; }
// .tableFixHead thead th { position: sticky; top: 0; z-index: 10; }
// table {
//     width: 100%;
// }

// thead, tbody, tr, td, th { display: block; }

// tr:after {
//     content: ' ';
//     display: block;
//     visibility: hidden;
//     clear: both;
// }

// thead th {
//     height: 30px;

//     /*text-align: left;*/
// }

// tbody {
//     height: 300px;
//     overflow-y: auto;
// }

// thead {
//     /* fallback */
// }


// tbody td, thead th {
//     width: 25%;
//     float: left;
// }